
        <main class="main-content bg-white">

            <div id="error-overlay" class="d-none">
                <i class="bi bi-exclamation-triangle-fill"></i>
            </div>

		    <div class="gnd-svg-pane">
                <svg width="100%" height="400" preserveAspectRation="xMinYMin"
                	data-controller="gnd-svg-canvas"
                    data-action="
                        gnd-app:initializeApp@window->gnd-svg-canvas#initializeCanvas
                        gnd-app:newDiagrams@window->gnd-svg-canvas#renderBatch
                        gnd-app:finishedBatchRetrieval@window->gnd-svg-canvas#finalizeRender
                        "
                >
                </svg>
            </div>

            <div id="gnd-info-popup" class="position-absolute p-0 border border-secondary rounded border-2 bg-light d-none w-50"
                data-controller="gnd-info-popup"
                data-gnd-info-popup-metadata-url-value="{{ metadata_url }}"
                data-gnd-info-popup-gnd-app-outlet="[data-controller='gnd-app']"
                data-action="
                    gnd-svg-canvas:arrowClick@window->gnd-info-popup#handleArrowClick
                    gnd-svg-canvas:arrowMouseOver@window->gnd-info-popup#handleArrowOver
                    gnd-svg-canvas:arrowMouseOut@window->gnd-info-popup#handleArrowOut
                    "
            >
                <div class="d-flex align-items-center border-bottom">
                    <span id="info-popup-id" class="px-2 py-1 mr-5"></span>
                    <div class="d-flex ms-auto">
                        <button id="info-popup-metadata-link" class="btn btn-link border-0" aria-label="Metadata Tool" data-controller="tooltip" data-bs-toggle="tooltip" data-placement="top" title="View metadata"><i class="bi bi-box-arrow-up-right"></i></button>
                        <button id="info-popup-clipboard" class="btn btn-link border-0" aria-label="Copy to clipboard" data-controller="tooltip" data-bs-toggle="tooltip" data-placement="top" title="Copy to clipboard"><i class="bi bi-clipboard"></i></button>
                    </div>
                </div>
                <div class="p-2">
                    <div>Description: <span class="info-popup-value" id="info-popup-desc"></span></div>
                    <div>Annotation Status: <span class="info-popup-value" id="info-popup-anno-status"></span></div>
                    <div class="info-popup-group">
                        <div class=""><b>Pfam</b></div>
                        <div><span class="info-popup-value" id="info-popup-pfam"></span></div>
                    </div>
                    <div class="info-popup-group" id="info-popup-interpro-group">
                        <div class=""><b>InterPro</b></div>
                        <div><span class="info-popup-value" id="info-popup-interpro"></span></div>
                    </div>
                    <div class="info-popup-group">Sequence Length: <span class="info-popup-value" id="info-popup-seqlen"></span></div>
                </div>
            </div>

            <p style="margin-top:2rem; margin-bottom: 50rem;"></p>

        </main>

