
/* Define variables for fixed element heights and widths */
:root {
    --header-height: 70px;
    --footer-height: 60px;
    --sidebar-width: 280px;
}

body {
    /* Add padding to the top and bottom of the body to account for fixed header and footer */
    padding-top: var(--header-height);
    padding-bottom: var(--footer-height);
}

#loading-spinner {
    position: fixed; /* Cover the entire screen */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    z-index: 9999; /* Ensure it's on top of everything */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Fixed Sidebar Styling */
.sidebar {
    position: fixed;
    top: var(--header-height); /* Position below the header */
    bottom: var(--footer-height); /* Position above the footer */
    left: 0;
    width: var(--sidebar-width);
    z-index: 1000;
    overflow-y: auto; /* Add scroll to sidebar if content is long */
    border-right: 1px solid #dee2e6;
    background-color: #f8f9fa;
}

/* Main Content Area Styling */
.main-content {
	position: absolute;
	top: var(--header-height);
	right: 0;
	bottom: var(--footer-height);
	left: var(--sidebar-width);
	padding: 1.5rem;
	overflow-y: auto; /* Make the content area scrollable */
}

#error-overlay {
    position: absolute; /* Positioned relative to its parent (.main-content) */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(248, 249, 250, 0.95); /* Opaque background */
    z-index: 10; /* Sits on top of other content inside main */
    
    /* Flexbox to center the icon */
    display: flex;
    justify-content: center;
    align-items: center;
}

#error-overlay i {
    font-size: 5rem; /* Large icon */
}

.sidebar h4 {
    text-transform: uppercase;
    font-size: 1.15em;
    font-weight: bold;
}

.footer {
    height: var(--footer-height);
}

.header {
    height: var(--header-height);
}

#footer-status-container {
    width: 70%;
}

#footer-progress-container .progress {
    background-color: #bbb; /* A slightly darker grey than the default */
    border: 1px solid #999;  /* Adds a subtle border for a crisp edge */
}

.metadata-job-name {
    font-weight: bold;
    font-size: 1.25rem;
}

.metadata-table {
    font-size: 0.85rem;
}

.diagram-title {
    font-size: 0.88rem;
}

.diagram-title-uniref-help {
    font-style: italic;
}

#info-popup-id {
    font-weight: bold;
}

#info-popup-clipboard {
    display: block;
    padding: 0.5em;
    line-height: 1;
    cursor: pointer;
}

#gnd-filter-container .accordion-button::after {
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

[data-controller="gnt-filter"].is-loading {
    opacity: 0.5;
    pointer-events: none;
}

.an-arrow {
    opacity: 1;
}

.canvas-filter-active .an-arrow {
    opacity: 0.5;
}

.canvas-filter-active .an-arrow.highlighted {
    opacity: 1;
    stroke: #000;
    stroke-width: 3;
}

.family-legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.family-legend-item-color {
    cursor: pointer;
    width: 20px;
    min-width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px; 
    border: 1px solid #555;
    border-radius: 3px;
}

.family-legend-item-color .bi {
    font-size: 14px;
}

.family-legend-item-name {
    overflow-wrap: break-word;
    word-break: break-word;
}

.filter-item label {
    overflow-wrap: break-word;
    word-break: break-word;
}

.tiny-alert {
    padding: 0.3rem 0.5rem;
    font-size: 0.875rem;
    max-width: 250px;
}

.info-popup {
    max-width: 500px;
}

