
<main class="main-content bg-white">
    <div id="error-overlay" class="d-none">
        <i class="bi bi-exclamation-triangle-fill"></i>
    </div>

    <div class="gnd-svg-pane">
        <svg width="100%" height="400" preserveAspectRation="xMinYMin"
            {{ stimulus_controller(gnd.canvas) }}
            {{ stimulus_action(gnd.canvas, 'initializeCanvas', gnd.app ~ ':initializeApp@window') }}
            {{ stimulus_action(gnd.canvas, 'renderBatch', gnd.app ~ ':newDiagrams@window') }}
            {{ stimulus_action(gnd.canvas, 'finalizeRender', gnd.app ~ ':finishedBatchRetrieval@window') }}
        >
        </svg>
    </div>
</main>

