
{% set instance_id = 'gnd-' ~ random() %}

<div id="{{ instance_id }}">
    <div>
        <svg width="100%" 
            {{ stimulus_controller('enzymefunctioninitiative/gnd-viewer-bundle/gnd-single-gnd', {
                'data':  diagram_json,
                'stats': diagram_stats
            }) }}
        ></svg>
    </div>
</div>

