
{% set app_config = {
    batchSize: params.gnd_batch_size,
    setSize: params.gnd_set_size,
    jobId: params.job_id,
    jobKey: params.job_key,
    api: {
        metadata: params.api_gnd_search,
        record: params.api_gnd_record
    },
    sequence: {
        databaseVersion: params.base_sequence_version|default(""),
        requestedVersion: params.current_sequence_version|default(""),
        unirefId: params.uniref_id,
        metadataUrl: params.metadata_url|default("")
    },
    search: {
        clusterOnLoad: params.search_cluster_on_load|default("")
    }
} %}

<div
    data-controller="efi--gnd-viewer-bundle--gnd-app"
    data-action="
        efi--gnd-viewer-bundle--gnd-search-form:submitSearch@window->efi--gnd-viewer-bundle--gnd-app#loadFromSearch
        efi--gnd-viewer-bundle--gnd-svg-canvas:batchRenderComplete@window->efi--gnd-viewer-bundle--gnd-app#retrieveAndRenderNextSet
        efi--gnd-viewer-bundle--gnd-gene-window:updateWindowSize@window->efi--gnd-viewer-bundle--gnd-app#updateWindowSize
        "
    data-eif--gnd-viewer-bundle--gnd-app-app-config-value="{{ app_config|json_encode|e('html_attr') }}"
    data-efi--gnd-viewer-bundle--gnd-app-gnd-gene-window-outlet="[data-controller='efi--gnd-viewer-bundle--gnd-gene-window']"
    data-efi--gnd-viewer-bundle--gnd-app-gnd-search-form-outlet="[data-controller='efi--gnd-viewer-bundle--gnd-search-form']"
    >

    {% include('@EfiGndViewer/sidebar.html.twig') with { app_config } %}

    {% include('@EfiGndViewer/canvas.html.twig') with { app_config } %}

    {% include('@EfiGndViewer/footer.html.twig') with { app_config } %}

    {% include('@EfiGndViewer/components/info_popup.html.twig') with { app_config } %}

</div>

